@media screen and (max-width: 500px) {
	.container-cal{
    max-width: 550px;
    display: flex;
    margin-left: 2%;
  }
  .calendar{
  
    margin-left: 2%;
    display: flex;
    min-height: 400px;
    max-width: 450px;
  }
}
.calendar{
  align-items: center;
  width: 450px;
  min-height: 500px;
  text-align: center;
  box-shadow: inset;
  background-color: rgb(255, 255, 255);


}
 .container-cal{

  display: flex;
  align-items: center;
  justify-content: center;
 


 }